<div class="flex justify-center">

  <form [formGroup]="searchForm" class="search-container flex space-x-6" (ngSubmit)="onSearch()">
    <mat-form-field class="location-field" #locationField>
      <mat-label>
        <div class="flex space-x-2">
          <div>
            <mat-icon style="color:steelblue;">room</mat-icon>
          </div>
          <div>
            Where are you going?
          </div>
        </div>
      </mat-label>
      <input matInput type="text" formControlName="location">
      @if (locationControl.value) {
        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="clearLocation()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @else {
        <span style="visibility: hidden;">
          <button type="button" matSuffix mat-icon-button aria-label="Clear" disabled>
            <mat-icon>close</mat-icon>
          </button>
        </span>
      }
    </mat-form-field>

<!--     <div class="relative">
      <div class="flex">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5 text-gray-500"
          >
            <path
              fill-rule="evenodd"
              d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <input
          type="search"
          id="location-search"
          class="w-[286px] h-12 justify-self-start bg-white border border-gray-600 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Where are you going?"
          formControlName="location"
          required
        />
      </div>
    </div> -->

    <app-counter></app-counter>
    <app-datepicker class="flex"></app-datepicker>

    <button mat-fab aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>

<!--     <div class="flex relative px-5">
      <button
        type="submit"
        class="absolute top-0 end-0 h-full p-4 text-sm font-medium text-white bg-pink-700 rounded-full border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </div> -->
  </form>
</div>
