<div class="flex justify-center max-w-m space-y-3">
    <!-- Datepicker Component -->
    <form class="search-container flex">
            <div class="flex px-4">
                <input type="search" id="location-search" class="block h-10 p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-lg border-gray-300 border-s-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search for City" required />
            </div>
            <app-datepicker></app-datepicker>
            <app-counter></app-counter>
            <div class="flex relative px-4 ">
                <button type="submit" class="absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white bg-pink-700 rounded-e-lg rounded-s-lg border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
    </form>
</div>