<div>
  <app-hotel-photo-modal [hotel]="hotel || []"></app-hotel-photo-modal>
  <div>
    <div style="width: 50%; margin: auto; margin-top: 12px">
      <div>
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-white">
          {{ hotel.hotelName }}
        </h2>
      </div>

      <div><app-room-detail></app-room-detail></div>

      <div>
        <div
          id="map"
          style="height: 300px; width: 50%; margin-top: 12px; z-index: 10"
        ></div>
      </div>
      <div><app-review class="my-12"></app-review></div>
    </div>
  </div>
</div>
