<div class="rounded-lg bg-white p-8 shadow-2xl">
    <h2 class="text-lg font-bold">Terms and Conditions</h2>
  
    <div class="mt-2 overflow-auto" style="max-height: 70vh;">
        <ul class="text-sm text-gray-500 list-none">
        <li>
            1. Terms
            By accessing this website, you are agreeing to be bound by these Terms and Conditions of Use, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained on this website are protected by applicable copyright and trademark law.
        </li>
        <li>
            2. Use License
            Permission is granted to temporarily download one copy of the materials (information or software) on MYCOMPANY's website for personal
            non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license, you may not:
            <br>
            Modify or copy the materials.
            Use the materials for any commercial purpose, or for any public display (commercial or non-commercial).
            Attempt to decompile or reverse engineer any software contained on our company's website.
            Remove any copyright or other proprietary notations from the materials.
            Transfer the materials to another person or "mirror" the materials on any other server.
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by MYCOMPANY at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
        </li>

        <li>
            3. Disclaimer
            The materials on MYCOMPANY's website are provided "as is". MYCOMPANY makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, MYCOMPANY does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet website or otherwise relating to such materials or on any sites linked to this site.
        </li>
        <li>
            4. Limitations
            In no event shall MYCOMPANY or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on my company's Internet site, even if MYCOMPANY or an MYCOMPANY authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        </li>
        <li>
            5. Revisions and Errata
            The materials appearing on MYCOMPANY's website could include technical, typographical, or photographic errors. MYCOMPANY does not warrant that any of the materials on its website are accurate, complete, or current. MYCOMPANY may make changes to the materials contained on its website at any time without notice. MYCOMPANY does not, however, make any commitment to update the materials.
        </li>
        <li>
            6. Links
            MYCOMPANY has not reviewed all of the sites linked to its Internet website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by MYCOMPANY of the site. Use of any such linked website is at the user's own risk.
        </li>
        
        <li>
            7. Site Terms of Use Modifications
            MYCOMPANY may revise these terms of use for its website at any time without notice. By using this website, you are agreeing to be bound by the then-current version of these Terms and Conditions of Use.
        </li>
        <li>
            8. Governing Law
            Any claim relating to my company's website shall be governed by the laws of the State of YOUR STATE without regard to its conflict of law provisions.
        </li>
        <br>
        General Terms and Conditions are applicable to Use of a Web Site.
        </ul>
    </div>
    <div class="mt-4 flex gap-2">
      <button type="button" class="rounded bg-gray-50 px-4 py-2 text-sm font-medium text-gray-600" (click)="closeDialog()">
        Close
      </button>
    </div>
</div>
